*.swp
.DS_Store
.grunt
_SpecRunner.html
test/coverage
dist_temp
node_modules
npm-debug.log
bower_components
test
*.iml
.idea
.jshintrc
.npmignore
.travis.yml
composer.json
contributing.md
Gruntfile.js
karma.conf.js
